APP__BIN__API__LISTEN="0.0.0.0"
APP__BIN__API__PORT=8080
APP__BIN__API__DEBUG=false

APP__DATABASES__ACCOUNT__URL="mysql://root:root@127.0.0.1:3306/account"
APP__DATABASES__ACCOUNT__MIN_CONNECTIONS=2
APP__DATABASES__ACCOUNT__MAX_CONNECTIONS=18
APP__DATABASES__ACCOUNT__IDLE_TIMEOUT=120
APP__DATABASES__ACCOUNT__ACQUIRE_TIMEOUT=5

APP__DATABASES__TOOL__URL="mysql://root:root@127.0.0.1:3306/tool"
APP__DATABASES__TOOL__MIN_CONNECTIONS=2
APP__DATABASES__TOOL__MAX_CONNECTIONS=18
APP__DATABASES__TOOL__IDLE_TIMEOUT=120
APP__DATABASES__TOOL__ACQUIRE_TIMEOUT=5

APP__SHORT_URL__DOMAIN="https://u.ysdor.cn"

APP__WECHAT__URL="https://api.weixin.qq.com"
APP__WECHAT__APP_ID=""
APP__WECHAT__APP_SECRET=""
