page {
  height: 100%;
  --td-brand-color: #0894FA;
}

.page {
  background-color: #f3f3f3;
  height: 100%;
}

.t-cell-group-margin {
  margin-bottom: 20px;
}

.operation {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  padding: 0 10px;
}
