page {
  height: 100%;
  --td-brand-color: #5bb43b;
  --td-brand-color-active: #4a9a2f;
  --td-brand-color-disabled: #a3d98e;
  --td-brand-color-light: #edf8e8;
  --td-brand-color-light-active: #d4edca;
}

.page {
  background-color: #f3f3f3;
  height: 100%;
}

.t-cell-group-margin {
  margin-bottom: 20px;
}

.operation {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  padding: 0 10px;
}
